<section class="mt-20 md:mt-56 mx-auto">
    <div class="container mx-auto">
        <div class="flex flex-col lg:flex-row items-center lg:space-x-8">
            <div class="w-4/12 ml-6">
                <img class="w-full h-auto rounded-lg" loading="lazy" src="/Images/boss.az.png" alt="About 1">
            </div>
            <div class=" flex w-full lg:w-1/2 xl:w-7/12 mt-8 lg:mt-0">
                <div class="xl:max-w-xl">
                    <h2 class="text-2xl font-semibold mb-4 text-center ">Who Are We?</h2>
                    <p class="text-lg text-gray-600 mb-4 px-4">Jobing.az - İş Axtarışınızı 2x Sürətləndirdik!

                        "İş tapma prosesi hələ belə asan olmamışdı" deyəcəyiniz innovativ bir platforma təqdim edirik.
                        Bizim məqsədimiz, müxtəlif sahələrdəki iş elanlarını bir məkanda toplamaq və istifadəçilərimizə
                        daha rahat bir iş axtarışı təcrübəsi təqdim etməkdir.

                        Saytımız, iş axtarışınızı asanlaşdırmaq üçün geniş çeşidli iş elanları, filtreləmə imkanları və
                        istifadəçi dostu interfeys təqdim edir.</p>

                </div>
            </div>

        </div>
    </div>
</section>