
<div class="overflow-hidden mt-32">
    <div class="container mx-auto px-48"> 
        <div class="flex items-center space-x-6">
            <div class="flex-shrink-0 mb-6 md:mb-0">
                <div class="relative z-10 mr-8">
                    <div class="img1">
                        <img src="Images/Static/about_1_1.png" alt="About" class="w-full max-w-[650px]">
                    </div>

                    <div class="year-counter absolute bottom-8 right-0 h-[184px] w-[184px] filled-button-color border-12 border-white shadow-lg rounded-full text-center py-6"> <!-- Replaced theme color -->
                        <h3 class="year-counter_number text-white text-7xl mb-0"><span>25</span></h3>
                        <p class="text-white font-normal mb-0">Years Experience</p>
                    </div>
                </div>
            </div>
            <div class="flex-1 ps-4 md:ms-6">
                <div class="mb-8">
                    <h2 class="sec-title text-gray-800 text-4xl font-bold mb-4">
                        <span class="orange-text">Jobing.az</span> - İş Axtarışınızı 2x Sürətləndirdik!
                    </h2>
                </div>
                <p class="mt-[-8px] mb-6 max-w-[720px] text-gray-700">
                    "İş tapma prosesi hələ belə asan olmamışdı" deyəcəyiniz innovativ bir platforma təqdim edirik.
                    Bizim məqsədimiz, müxtəlif sahələrdəki iş elanlarını bir məkanda toplamaq və istifadəçilərimizə
                    daha rahat bir iş axtarışı təcrübəsi təqdim etməkdir.

                    Saytımız, iş axtarışınızı asanlaşdırmaq üçün geniş çeşidli iş elanları, filtreləmə imkanları və
                    istifadəçi dostu interfeys təqdim edir.
                </p>
            </div>
        </div>
    </div>
</div>