<div
    class="mt-32 md:mt-24 mx-auto flex flex-col justify-center py-3 sm:py-24 px-8 lg:px-8 bg-white rounded-2xl max-w-full">

    <div class="container mx-auto">
        <div class="flex flex-col lg:flex-row items-center lg:space-x-8">
            <div class="w-4/12 ml-6 hidden sm:flex h-full">
                <img class="w-full h-auto rounded-lg" src="/Images/boss.az.png" alt="About 1">
            </div>
            <div class=" flex w-full lg:w-1/2 xl:w-7/12 mt-8 lg:mt-0">
                <div class="xl:max-w-xl">
                    <div class="mb-4">
                        <h2 class="text-center text-3xl font-bold leading-9 tracking-tight text-gray-700">
                            Contact Us
                        </h2>
                    </div>
                    <div class="mt-8 sm:mx-auto w-full sm:w-96">
                        <div class="space-y-6">
                            <div>
                                <label for="email" class="block text-sm font-medium leading-6 text-gray-700">Email
                                    address</label>
                                <div class="mt-2">
                                    <input id="email" name="email" type="email" autocomplete="email" required
                                        class="block w-full h-12 rounded-md border-0 py-2 px-3 text-gray-700 shadow-sm ring-1 ring-inset ring-orange-500 focus:ring-2 focus:ring-inset focus:ring-orange-600 sm:text-sm sm:leading-6">
                                </div>
                            </div>

                            <div>
                                <div class="flex items-center justify-between">
                                    <label for="text"
                                        class="block text-sm font-medium leading-6 text-gray-700">Text</label>
                                </div>
                                <div class="mt-2">
                                    <textarea id="text" required
                                        class="block w-full h-24 rounded-md border-0 py-2 px-3 text-gray-700 shadow-sm ring-1 ring-inset ring-orange-500 focus:ring-2 focus:ring-inset focus:ring-orange-500 sm:text-sm sm:leading-6"></textarea>
                                </div>
                            </div>

                            <div>
                                <button type="button"
                                    class="flex w-full justify-center rounded-md filled-button-color px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-orange-700 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-orange-500">Send</button>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
</div>
